name: Code Assistant
on:
  issue_comment:
    types: [created]

env:
  GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

jobs:
  code-assistant:
    name: Code Assistant
    if: contains(github.event.comment.body, '/code-assistant')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ env.GH_TOKEN }}
          fetch-depth: 0
      - name: AI Code Assistant
        uses: apecloud-inc/gha-code-assistant@main
        env:
          GITHUB_TOKEN: ${{ env.GH_TOKEN }}
